<template name="appLayout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    {{#ionBody}}
        {{#ionSideMenuContainer side="left"}}

            {{#ionSideMenus}}

                {{#ionSideMenu}}
                    {{#if isPortfolioPage}}
                        {{> portfolioSideMenu}}
                    {{else}}
                        {{> detailsSideMenu}}
                    {{/if}}
                {{/ionSideMenu}}
                {{#ionSideMenu side='right'}}
                    {{#if isPortfolioPage}}
                        {{> portfolioSideMenu}}
                    {{else}}
                        {{> detailsSideMenu}}
                    {{/if}}
                {{/ionSideMenu}}

            {{/ionSideMenus}}

            {{#ionSideMenuContent}}

                {{> ionNavBar class="bar-positive"}}

                {{#ionNavView}}
                    {{> yield}}
                {{/ionNavView}}

            {{/ionSideMenuContent}}

        {{/ionSideMenuContainer}}

    {{/ionBody}}
</template>