<template name="appLayout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    </head>
    {{#ionBody}}
        {{#ionSideMenuContainer side="left"}}

            {{#ionSideMenus}}

                {{#ionSideMenu}}
                    {{#if isPortfolioPage}}
                        {{> portfolioSideMenu}}
                    {{else}}
                        {{> detailsSideMenu}}
                    {{/if}}
                {{/ionSideMenu}}
                {{#ionSideMenu side='right'}}
                    {{#if isPortfolioPage}}
                        {{> portfolioSideMenu}}
                    {{else}}
                        {{> detailsSideMenu}}
                    {{/if}}
                {{/ionSideMenu}}

            {{/ionSideMenus}}

            {{#ionSideMenuContent}}

                {{> ionNavBar class="navBar"}}

                {{#ionNavView}}
                    {{> yield}}
                {{/ionNavView}}

            {{/ionSideMenuContent}}

        {{/ionSideMenuContainer}}

    {{/ionBody}}
</template>