<template name="detail">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">{{stock.symbol}}</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div id="graph">
                <g/>
            </div>
            {{#each field in fields}}
                {{#if stockFieldValue field}}
                    {{field}}: {{stockFieldValue field}} <br>
                {{/if}}
            {{/each}}
        {{/ionContent}}
    {{/ionView}}
</template>