<template name="detail">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">{{stock.symbol}}</h1>
    {{/contentFor}}


    {{#ionView}}
        {{#ionContent}}

            <div class="list card">
                <div id="wrapper">
                    <div class="cell">
                        <div class="content-left">
                            <div class="symbol">{{stock.symbol}}</div>
                            <div class="name">{{stock.name}}</div>
                            <div class="stockExchange">{{stock.stockExchange}}</div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="content-right">
                            <div class="priceAndChange">
                                <div class="price" style="color: {{changeColor}};">
                                    ${{stock.lastTradePriceOnly}}
                                </div>
                                <div class="change" style="background-color: {{changeColor}};">
                                    ${{stock.change}}
                                    <br>
                                    ({{stock.changeInPercent}}%)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-text-wrap graph-card-section" id="graph-card-section">
                    <div id="graph">
                        <g/>
                    </div>
                </div>

                <div class="item item-divider row">
                    <div class="col-20 date-selector" value=365>
                        1yr
                    </div>
                    <div class="col-20 date-selector"  value=182>
                        6m
                    </div>
                    <div class="col-20 date-selector"  value=120>
                        4m
                    </div>
                    <div class="col-20 date-selector"  value=30>
                        1m
                    </div>
                    <div class="col-20 date-selector"  value=7>
                        7d
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: -20px;">
                <div class="col">
                    <div class="card detail-card">
                        <div class="detail-card-title">
                            <div class="item item-divider item-divider-title">
                                Open
                            </div>
                        </div>
                        <div class="item item-text-wrap item-text-wrap-title">
                            {{stock.open}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card detail-card detail-card-title">
                        <div class="item item-divider item-divider-title">
                            Previous Close
                        </div>
                        <div class="item item-text-wrap item-text-wrap-title">
                            {{stock.previousClose}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card detail-card detail-card-title">
                        <div class="item item-divider item-divider-title">
                            Day Low
                        </div>
                        <div class="item item-text-wrap item-text-wrap-title">
                            {{stock.daysLow}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card detail-card detail-card-title">
                        <div class="item item-divider item-divider-title">
                            Day High
                        </div>
                        <div class="item item-text-wrap item-text-wrap-title">
                            {{stock.daysHigh}}
                        </div>
                    </div>
                </div>
            </div>

            {{#each field in fields}}
                {{#if stockFieldValue field}}
                    {{#if showElement field}}
                        <div class="row">
                            <div class="col">
                                <div class="card detail-card detail-card-title">
                                    <div class="item item-divider item-divider-title">
                                        {{field}}
                                    </div>
                                    <div class="item item-text-wrap item-text-wrap-title">
                                        {{stockFieldValue field}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            {{/each}}

        {{/ionContent}}
    {{/ionView}}
</template>