<template name="home">
    {{#contentFor "headerButtonLeft"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">Meteor-Stocks</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#each items}}
                {{#ionItem path="detail" data=this buttonRight=true avatar=false class="my-class" id="my-id"}}
                    <div class="stockinfo item-button-right">
                        {{symbol}} {{name}} {{price}} <button class="button {{changeStyle}}">{{change}}</button>
                    </div>
                {{/ionItem}}
            {{/each}}
        {{/ionContent}}
    {{/ionView}}
</template>