<template name="portfolioSideMenu">
    <div class="bar bar-header bar-dark">
        <h1 class="title">Options</h1>
    </div>
    <div class="content has-header">

    {{#ionList class="my-class"}}
        <div class="item item-icon-right" data-ion-menu-close>
            Close Me {{> ionIcon icon="ios-arrow-right"}}
        </div>
        {{#each item in preference}}
            {{#if weHaveData item.name}}
                    {{#autoForm collection="Preferences" type="update" template="ionic" doc=item autosave=true id=item.name label=false}}

                        <fieldset>
                            <div class="sidemenu">
                                <div class="sidemenu-name">
                                    {{> afQuickField name='name' hidden=true label=false}}
                                </div>
                                <div class="sidemenu-check">
                                    {{> afQuickField name='showPortfolio' value=item.showPortfolio trueLabel="Yes" falseLabel="No"}}
                                </div>
                            </div>
                        </fieldset>

                    {{/autoForm}}

            {{/if}}
        {{/each}}
        {{#autoForm collection="Preferences" type="update" template="ionic" doc=sortingPreference autosave=true id=sortingPreference.name}}
            <fieldset>
                <div class="sidemenu">
                    <div class="sidemenu-sort">
                        Sort stocks by
                    </div>
                    <div class="sidemenu-sort-options">
                        {{> afQuickField name='sort' label=' '}}
                    </div>
                </div>
            </fieldset>
        {{/autoForm}}
    {{/ionList}}
    </div>
</template>