<template name="searchResults">
    <div class="item item-divider">
        Results for: {{searched}}
    </div>
    {{#each searchResult}}
        {{#ionItem path="detail" button-right=true data=this avatar=false class="my-class" id="my-id"}}
            <div id="wrapper">
                <div class="cell">
                    <div class="content-left">
                        <div class="symbol">{{symbol}}</div>
                        <div class="name">{{name}}</div>
                        <div class="stockExchange">{{stockExchange}}</div>
                    </div>
                </div>
                <div class="cell">
                    <div class="content-right">
                        <div class="priceAndChange">
                            <div class="price" style="color: {{changeColor}};">
                                ${{price}}
                            </div>
                            <div class="change" style="background-color: {{changeColor}};">
                                ${{change}} <br>
                                ({{changeInPercent}}%)
                            </div>
                        </div>
                        <button class="button button-clear button-positive button-portfolio add-button">
                            <i class="icon ion-plus-circled icon-portfolio"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="list-footer">
                {{#if showElement 'open'}}
                    <div class="peek">
                        Open <b>${{open}}</b>
                    </div>
                {{/if}}
                {{#if showElement 'daysLow'}}
                    <div class="peek">
                        Day Low <b>${{daysLow}}</b>
                    </div>
                {{/if}}
                {{#if showElement 'daysHigh'}}
                    <div class="peek">
                        Day High <b>${{daysHigh}}</b>
                    </div>
                {{/if}}
            </div>
        {{/ionItem}}
    {{/each}}
</template>