<template name="searchResults">
    <div class="card-title" style="margin-top: 15px !important;">
        Results for <b>{{searched}}</b>
    </div>
    <div class="card">
        {{#each searchResult}}
            {{#ionItem path="detail" button-right=true data=this avatar=false class="my-class" id="my-id"}}
                <div id="wrapper">
                    <div class="cell">
                        <div class="content-left">
                            <div class="symbol">{{symbol}}</div>
                            <div class="name">{{name}}</div>
                            <div class="stockExchange">{{stockExchange}}</div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="content-right">
                            <div class="priceAndChange">
                                <div class="price" style="color: {{changeColor}};">
                                    ${{stockNumber 'lastTradePriceOnly'}}
                                </div>
                                <div class="change" style="background-color: {{changeColor}};">
                                    ${{stockNumber 'change'}}
                                    <br>
                                    {{stockNumber 'changeInPercent'}}%
                                </div>
                            </div>
                            <button class="button button-clear button-positive button-portfolio add-button">
                                <i class="icon ion-plus-circled icon-portfolio"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="list-footer">
                    <div class="row">
                        {{#if showElement 'daysHigh'}}
                            <div class="peek col-25">
                                High <b>${{stockNumber 'daysHigh'}}</b>
                            </div>
                        {{/if}}
                        {{#if showElement 'daysLow'}}
                            <div class="peek col-25">
                                Low <b>${{stockNumber 'daysLow'}}</b>
                            </div>
                        {{/if}}
                        {{#if showElement 'open'}}
                            <div class="peek col-25">
                                Open <b>${{stockNumber 'open'}}</b>
                            </div>
                        {{/if}}
                        {{#if showElement 'previousClose'}}
                            <div class="peek col-25">
                                Close <b>${{stockNumber 'previousClose'}}</b>
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/ionItem}}
        {{else}}
            {{#ionItem}}
                <div class="item item-text-wrap portfolio-empty">
                    No stocks outside your portfolio match <b>{{searched}}</b>.
                </div>
            {{/ionItem}}
        {{/each}}
    </div>
</template>