<template name="searchResults">
    <div class="item item-divider">
        Results for: {{searched}}
    </div>
    {{#each searchResult}}
        {{#ionItem path="detail" button-right=true data=this avatar=false class="my-class" id="my-id"}}
            <div id="wrapper">
                <div class="cell">
                    <div class="content-left">
                        <div class="symbol">{{symbol}}</div>
                        <div class="name">{{name}}</div>
                        <div class="stockExchange">{{stockExchange}}</div>
                    </div>
                </div>
                <div class="cell">
                    <div class="content-right">
                        <div class="priceAndChange">
                            <div class="price" style="color: {{changeColor}};">
                                ${{stockNumber 'lastTradePriceOnly'}}
                            </div>
                            <div class="change" style="background-color: {{changeColor}};">
                                ${{stockNumber 'change'}} <br>
                                ({{stockNumber 'changeInPercent'}}%)
                            </div>
                        </div>
                        <button class="button button-clear button-positive button-portfolio add-button">
                            <i class="icon ion-plus-circled icon-portfolio"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="list-footer">
                <div class="row">
                    {{#if showElement 'daysHigh'}}
                        <div class="peek col-50">
                            Day High <b>${{stockNumber 'daysHigh'}}</b>
                        </div>
                    {{/if}}
                    {{#if showElement 'open'}}
                        <div class="peek col-50">
                            Open <b>${{stockNumber 'open'}}</b>
                        </div>
                    {{/if}}
                </div>
                <div class="row">
                    {{#if showElement 'daysLow'}}
                        <div class="peek col-50">
                            Day Low <b>${{stockNumber 'daysLow'}}</b>
                        </div>
                    {{/if}}
                    {{#if showElement 'previousClose'}}
                        <div class="peek col-50">
                            Previous Close <b>${{stockNumber 'previousClose'}}</b>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/ionItem}}
    {{else}}
        {{#ionItem}}
            No results found for {{searched}}
        {{/ionItem}}
    {{/each}}
</template>