/* CSS declarations go here */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #9a9a9a;
}

text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    opacity: 0.9;
}

text {
    fill: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.7em;
}
path {
    stroke: white;
    stroke-width: 1px;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 0;
    shape-rendering: crispEdges;
    display: none;
    color: #9a9a9a;
}

.grid .tick {
    stroke: white;
    stroke-opacity: 0.05;
    shape-rendering: crispEdges;
    stroke-width: 0px;
    display: none;
}
.grid path {
    stroke-width: 0;
    display: none;
}

.area {
    fill: none;
    opacity: 0.5;
    stroke-width: 0;
}